body {
  background-color: #33383f;
  color: white;
  max-width: 99vw;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: white;
  padding: 0 1.5rem;
}

a:hover {
  color: rgb(214, 98, 3);
}

i {
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-left: 0.4rem;
}

#header .row {
  margin: auto;
  max-width: 60vw;
}

#header {
  padding: 0.8rem 0;
  width: 100vw;
  border-radius: 0 0 18px 18px;
}

#about {
  margin-right: 1rem;
}

.navbar-brand {
  font-size: 1.6rem;
}

#center {
  margin-top: calc(50vh - 17rem);
  color: white;
  text-align: center;
}

#center h1 {
  animation-name: glowName;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#center img {
  border-radius: 55px;
  max-width: 300px;
  margin-bottom: 1rem;

  animation-name: glowBorder;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#footer {
  background-color: #212529;
  padding: 0.8rem 0;
  border-radius: 18px 18px 0 0;
}
@media (max-height: 555px) {
  #center img {
    max-width: 50vh;
  }

  #center {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  #header .row {
    max-width: 95vw;
  }
}

@media only screen and (max-width: 450px) {
  #center img {
    max-width: 80vw;
  }
}

@keyframes glowName {
  from {
    opacity: 100%;
  }
  to {
    opacity: 40%;
  }
}

@keyframes glowBorder {
  from {
    box-shadow: rgba(214, 98, 3, 0.3) 0px 0px 0px 4px;
  }
  to {
    box-shadow: none;
  }
}
