@keyframes glowName {
    from {
      opacity: 100%;
    }
    to {
      opacity: 40%;
    }
  }
  
  @keyframes glowBorder {
    from {
      box-shadow: #335868 5px 5px 15px 5px;
    }
    to {
      box-shadow: none;
    }
  }
  