@keyframes glowName {
    from {
      opacity: 100%;
    }
    to {
      opacity: 40%;
    }
  }
  
  @keyframes glowBorder {
    from {
      box-shadow: rgba(214, 98, 3) 5px 5px 25px 10px;
    }
    to {
      box-shadow: none;
    }
  }
  