@media (max-height: 840px) {
  #center-home {
    padding-bottom: 1rem;
  }
}

@media (max-height: 600px) {
  #center-home img {
    max-width: 50vh;
    max-height: 50vh;
  }
}

@media only screen and (max-width: 1400px) {
  a {
    padding: 0 1rem;
  }
  #header .row {
    width: 90vw;
  }
}

@media only screen and (max-width: 850px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: unset;
  }
  #header a,
  #footer a {
    padding: 0 2rem;
  }
  #header .row {
    max-width: 100vw;
  }
  i {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 450px) {
  #center-home img {
    max-width: 55vw;
    max-height: 55vw;
  }
}
