@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --background-color-primary: white;
  --background-color-secondary: rgb(201, 90, 0);
  --text-color-primary: black;
  --text-color-secondary: white;
  --accent-color: rgb(214, 98, 3);
  --mode: "light";
}

:root.dark {
  --background-color-primary: #33383f;
  --background-color-secondary: #212529;
  --text-color-primary: white;
  --accent-color: rgb(214, 98, 3);
  --mode: "dark";
}

body {
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  font-size: 1.3rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--text-color-primary);
}

a:hover {
  text-decoration: underline;
}

i {
  font-size: 1.5rem;
  margin-left: 0.4rem;
}

#header {
  padding: 0.8rem 0;
  background-color: var(--background-color-secondary);
  color: var(--text-color-secondary);
  width: 100vw;
  user-select: none;
}

#header .row {
  width: 60vw;
}

#header a,
#footer a {
  padding: 0 2.4rem;
  color: var(--text-color-secondary);
}

.mobile {
  display: none;
}

.navbar-brand {
  font-size: 1.6rem;
  color: var(--text-color-secondary);
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: var(--text-color-secondary);
}

#center-home {
  color: var(--text-color-primary);
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 6rem;
}

#center-home h1 {
  animation-name: glowName;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#center-home img {
  border-radius: 55px;
  max-width: 300px;
  margin-bottom: 1rem;

  animation-name: glowBorder;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#center-about,
#center-contact {
  display: none;
  margin-bottom: 10rem;
  max-width: 50rem;
  text-align: justify;
}

#center-about img,
#center-contact img {
  max-width: 100%;
  margin: 2.5rem 0;
  border-radius: 30px;
  box-shadow: 2px 2px 11px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 11px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 11px -1px rgba(0, 0, 0, 0.75);
  user-select: none;
}

#center-contact a {
  text-decoration: underline;
}

#footer {
  background-color: var(--background-color-secondary);
  padding: 0.8rem 0;
  border-radius: 18px 18px 0 0;
  user-select: none;
}

.card-body {
  color: var(--text-color-secondary);
}

.card {
  background-color: var(--background-color-secondary);
  border: unset;
}

.list-group-item {
  color: var(--text-color-secondary);
  background-color: var(--background-color-secondary);
}

#collapseExample {
  text-align: end;
  width: 100vw;
}