@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  background-color: #33383f;
  color: white;
  max-width: 99vw;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(214, 98, 3);
}

i {
  font-size: 1.5rem;
  margin-left: 0.4rem;
}

#header .row {
  margin: auto;
  max-width: 60vw;
}

#header {
  padding: 0.8rem 0;
  width: 100vw;
  border-radius: 0 0 18px 18px;
}

#header a,
#footer a {
  padding: 0 2.4rem;
}

#about-link {
  margin-right: 1rem;
}

.navbar-brand {
  font-size: 1.6rem;
}

#center-home {
  color: white;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 6rem;
}

#center-home h1 {
  animation-name: glowName;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#center-home img {
  border-radius: 55px;
  max-width: 300px;
  margin-bottom: 1rem;

  animation-name: glowBorder;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#center-about,
#center-contact {
  display: none;
  margin-top: 4rem;
  margin-bottom: 10rem;
  max-width: 50rem;
  text-align: justify;
}

#center-about img,
#center-contact img {
  max-width: 100%;
  margin: 2.5rem 0;
  border-radius: 40px;
}

#center-contact a {
  text-decoration: underline;
}

#footer {
  background-color: #212529;
  padding: 0.8rem 0;
  border-radius: 18px 18px 0 0;
}